[user]
  name = Sebastian Sogamoso
  email = sebastian@sogamo.so
  signingkey = ~/.ssh/id_ed25519_git_signing.pub

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgSign = true

[init]
  defaultBranch = main

[include]
  path = ~/.config/git/config.macos
